.main {
  margin: 0 auto;
  max-width: 490px;
  display: flex;
  flex-direction: column;
}

.main__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* margin: 0 auto; */
  justify-content: flex-start;
}

.main__button {
  box-sizing: border-box;
  border: none;
  padding: 0;
  width: 150px;
  height: 150px;
}

.main__element {

}

.main__button-cancel {
  padding: 0;
  width: 32px;
  height: 32px;
  background-image: url(../../images/exit.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  background-size: 32px 32px;
  transition: opacity .2s;
  text-align: end;
  align-self: flex-end;
}

.main__button-cancel:hover {
  cursor: pointer;
  opacity: .6;
}

@media screen and (max-width: 610px) {
  .main__list {
    justify-content: center;
    margin: 0 auto;
  }
}